%h1
  Event Updated Successfully
  %h4 Your event is successfully updated, please find the updated event details below

%h3 Old event Details

%p
%table
  %tbody
    - unless @pre_event_title.blank?
      %tr
        %th Event Name
        %td= @pre_event_title
        %td
    - unless @pre_event_desc.blank?
      %tr
        %th Event Description
        %td= @pre_event_desc
        %td
    - unless @pre_event_start_time.blank?
      %tr
        %th Start Time
        %td= @pre_event_start_time
        %td
    - unless @pre_event_end_time.blank?
      %tr
        %th End Time
        %td= @pre_event_end_time


%h3 New Reservation Details
%table
  %tbody
    %tr
      %th Event Name
      %td= @event.event_title
      %td
    %tr
      %th Event Description
      %td= @event.event_description
      %td
    %tr
      %th Start Time
      %td= @event.start_time
      %td
    %tr
      %th End Time
      %td= @event.end_time
