%h1
  Event Creation Successful
  %h1
    %h4 please find the your event details below
%p
  %table
    %tbody
      %tr
        %th Event Name
        %td= @event.event_title
        %td
      %tr
        %th Event Description
        %td= @event.event_description
        %td
      %tr
        %th Start Time
        %td= @event.start_time
        %td
      %tr
        %th End Time
        %td= @event.end_time
    
%p
  = link_to "Approve", approve_invitation_invitations_url(user_id: @user.id, event_id: @event.id)
  = link_to "Reject", reject_invitation_invitations_url(user_id: @user.id, event_id: @event.id)