- unless event.users.include?(current_user)
  = link_to edit_event_path(event.id) do
    %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
  = link_to edit_event_path(event.id), method: :delete do
    %i.fa.fa-trash{"aria-hidden" => "true"}