#all_events
  = month_calendar events: @events do |date, events|
    = date
    %div
      %h6
        No.of Events
        %span.badge.badge-secondary=events.count

      - accepted_events = @user.accepted_invitations(date)
      - rejected_events = @user.rejected_invitations(date)
      - calendar_date = date_id(date)
      = link_to accepted_events.count, "#", class: "badge badge-pill badge-success", onclick: "show_events('accepted',#{calendar_date});"
      = link_to rejected_events.count, "#", class: "badge badge-pill badge-danger", onclick: "show_events('rejected', #{calendar_date});"
      %div{class:"accepted_events_#{calendar_date}", style: "display:none;"}
        - accepted_events.limit(5).each do |event|
          = event.event_title
          = render "/welcome/event_actions", event: event

      %div{class:"rejected_event_#{calendar_date}", style: "display:none;"}
        - accepted_events.limit(5).each do |event|
          = event.event_title
          = render "/welcome/event_actions", event: event