%h3
  Events Scheduled
- if current_user.present?
  .row
    
    .col-6
      = link_to "Add Event", new_event_path, class: "btn btn-secondary"
    .col-6
      = select_tag 'event_users', options_from_collection_for_select(User.all, :id, :email), :onchange => "select_user(this.value)", prompt: "All Users", class: "form-control"
    .col-12
      = render "all_events"
    
