.col-6
  = simple_form_for @event do |f|
    = render 'shared/error_messages', object: @event
    = f.input :event_title
    = f.input :event_description
    = f.input :start_time, :as => :datetime_picker, input_html: { data: {date_options: {defaultDate: @event.start_time}}}
    = f.input :end_time, :as => :datetime_picker, input_html: { data: {date_options: {defaultDate: @event.end_time}}}
    = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
    %p
      = select_tag 'event_users', options_from_collection_for_select(User.all, :id, :email, @event.users.collect(&:id)), multiple: true, class: 'multiselectuser form-control'
    
    = f.button :submit
    = link_to "Back", events_path, class: 'btn btn-dark'
    %br