%h3 Events  
%p
  = link_to "Add Event", new_event_path, class: "btn btn-secondary"
%table.table
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Event Title
      %th{:scope => "col"} Start Time
      %th{:scope => "col"} End Time
      %th{:scope => "col"} Actions
  %tbody
    -@events.each do |event|
      %tr
      %th{:scope => "row"}=event.id
      %td=event.event_title
      %td=event.start_time
      %td=event.end_time
      %td
        = link_to "Edit", edit_event_path(event.id), class: "btn btn-secondary"
        = link_to "View", event_path(event.id), class: "btn btn-primary"
        = link_to "Delete", event_path(event.id),method: :delete, class: "btn btn-danger"
    
