<!DOCTYPE html>
<html>
  <head>
    <title>EventApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Event Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%=link_to "Home", root_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "All Events", events_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete,  class:"nav-link") %>        
            <% else %>
              <%= link_to('Login', new_user_session_path, class:"nav-link")  %>  
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      
      <%= yield %>
    </div>
  </body>
</html>
